body, html {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: white;
}

.heading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    color: #333; 
    margin-left: 5px;
}

.btn {
    margin: 10px;
    height: 30px;
    width: 70px;
    background-color: #c92a3a;
    color: white;
    border-radius: 25px;
    border: none;
}

.search {
    display: flex;
    align-items: center;
}

.searchbox {
    border: 1px solid black;
    border-radius: 4px; /* Ensures the search box corners are rounded */
    overflow: hidden; /* Prevents content overflow */
    display: flex;
    align-items: center;
}

.searchbox input {
    border: none;
    padding: 5px 10px;
    border-radius: inherit; /* Inherits border-radius from the parent */
    outline: none; /* Removes the outline on focus */
    width: 200px;
}

.button {
    border: none;
    text-align: center;
    background-color: #c92a3a;
    color: white;
    text-align: center;
    height: 30px;
    width: 70px;
    border-radius: 4px; 
    cursor: pointer;
}

.button:hover {
    background-color: #a62331;
}
