body, html {
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: white;
   
}
.heading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    color: #333; 
    margin-left: 5px;
}

.btn{
    margin: 10px;
    height: 30px;
    width: 70px;
    background-color: #c92a3a;
    color: white;
    border-radius: 25px;
    border: none;
}
